* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

h1 {
    color: #333;
    text-align: center;
    background-color: red;
}

/* Slug preview */

.slug-preview {
    color: #666;
    font-style: italic;
    margin-top: -10px;
    margin-bottom: 10px;
}