{% load static %}
<!doctype html>
<html>
    <head>
        <title>{% block title %}My amazing site{% endblock %}</title>
        <link rel="stylesheet" href="{% static 'css/styles.css' %}">
        {% comment %} Favicon {% endcomment %}
        <link rel="apple-touch-icon" sizes="180x180" href="{% static 'img/favicon/apple-touch-icon.png' %}">
        <link rel="icon" type="image/png" sizes="32x32" href="{% static 'img/favicon/favicon-32x32.png' %}">
        <link rel="icon" type="image/png" sizes="16x16" href="{% static 'img/favicon/favicon-16x16.png' %}">
        <link rel="manifest" href="{% static 'img/favicon/site.webmanifest' %}">
    </head>
    <body>

        <div id="content">{% block content %}{% endblock %}</div>
        <div id="footer">{% block footer %}{% endblock %}</div>
    </body>
</html>
